<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huicheng.hotel.android">

    <!--网络连接-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--银联支付权限-->
    <uses-feature android:name="android.hardware.nfc.hce" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <!--解决上传三星应用商店提示不符合 GALAXY Specials 的类别条件的问题-->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".PRJApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:allowBackup,android:name">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WelTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="abcbooking" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PermissionTheme" />
        <activity
            android:name=".ui.activity.GuideSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 登录 -->
        <activity
            android:name=".ui.activity.UserLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 注册 -->
        <activity
            android:name=".ui.activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 忘记密码 -->
        <activity
            android:name=".ui.activity.UserForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 三方登录 的绑定 -->
        <activity
            android:name=".ui.activity.UserBindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--个人中心-->
        <activity
            android:name=".ui.activity.UserCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--消息-->
        <activity
            android:name=".ui.activity.MessageListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--我的订单-->
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--我的优惠券-->
        <activity
            android:name=".ui.activity.MyDiscountCouponActivity"
            android:screenOrientation="portrait" />
        <!--酒店订单详情-->
        <activity
            android:name=".ui.activity.HotelOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--机票订单详情-->
        <activity
            android:name=".ui.activity.PlaneOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!--消费详情-->
        <activity
            android:name=".ui.activity.ConsumptionDetailActivity"
            android:screenOrientation="portrait" />
        <!--订单评价-->
        <activity
            android:name=".ui.activity.AssessOrdersActivity"
            android:screenOrientation="portrait" />
        <!--评价详情-->
        <activity
            android:name=".ui.activity.AssessOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--评论列表画面-->
        <activity
            android:name=".ui.activity.AssessCommendActivity"
            android:screenOrientation="portrait" />
        <!--粉絲酒店-->
        <activity
            android:name=".ui.activity.FansHotelActivity"
            android:screenOrientation="portrait" />
        <!-- 意见反馈 -->
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <!-- 关于 -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <!--debugInfo-->
        <activity
            android:name=".ui.activity.DebugInfoActivity"
            android:screenOrientation="portrait" />
        <!--环境切换-->
        <activity
            android:name=".ui.activity.DebugChangeEnvActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!--城市选择画面-->
        <activity
            android:name=".ui.activity.LocationChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <!--酒店日期选择画面-->
        <activity
            android:name=".ui.activity.HotelCalendarChooseActivity"
            android:screenOrientation="portrait" />
        <!--0元住首页画面-->
        <activity
            android:name=".ui.activity.Hotel0YuanHomeActivity"
            android:screenOrientation="portrait" />
        <!--0元住酒店选择画面-->
        <activity
            android:name=".ui.activity.Hotel0YuanChooseActivity"
            android:screenOrientation="portrait" />
        <!--酒店列表搜索画面-->
        <activity
            android:name=".ui.activity.HotelListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--后悔药出售画面-->
        <activity
            android:name=".ui.activity.HouHuiYaoSalingActivity"
            android:screenOrientation="portrait" />
        <!--后悔药订单详情-->
        <activity
            android:name=".ui.activity.HouHuiYaoOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!--酒店地图搜索画面-->
        <activity
            android:name=".ui.activity.HotelMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--房間選擇畫面-->
        <activity
            android:name=".ui.activity.RoomListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 酒店空间主页 -->
        <activity
            android:name=".ui.activity.HotelSpaceHomeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <!-- 酒店空间详情 -->
        <activity
            android:name=".ui.activity.HotelSpaceDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 酒店空间发表评论 -->
        <activity
            android:name=".ui.activity.HotelSpacePublishActivity"
            android:screenOrientation="portrait" />

        <!-- 图片放大显示画面 -->
        <activity
            android:name=".ui.activity.ImageScaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ImageTransparent" />

        <!-- 关注好友列表画面 -->
        <activity
            android:name=".ui.activity.AttendPersonActivity"
            android:screenOrientation="portrait" />
        <!--服務附加頁面-->
        <activity
            android:name=".ui.activity.RoomDetailActivity"
            android:screenOrientation="portrait" />

        <!--订单确认画面-->
        <activity
            android:name=".ui.activity.RoomOrderConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--支付方式画面-->
        <activity
            android:name=".ui.activity.OrderPayActivity"
            android:screenOrientation="portrait" />
        <!--支付结果画面-->
        <activity
            android:name=".ui.activity.OrderPaySuccessActivity"

            android:screenOrientation="portrait" />
        <!--发票页面-->
        <activity
            android:name=".ui.activity.InvoiceDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- h5应用页面 -->
        <activity
            android:name=".ui.activity.HtmlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 普通html页面 -->

        <receiver android:name="com.huicheng.hotel.android.common.pay.wxpay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/qq_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- alipay sdk end -->

        <!--银联在线支付-->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".common.pay.unionpay.UnionPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <!-- JPush Receiver -->
        <receiver
            android:name="com.huicheng.hotel.android.broadcast.JPushReceiver"
            android:enabled="true">
                
            <intent-filter>
                        
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                        
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                        
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                        
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                        
                <category android:name="com.huicheng.hotel.android" />
                    
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.huicheng.hotel.android.ui.glide.GlideModuleConfig"
            android:value="GlideModule" />

        <!--open installed-->
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="xcil0h" />
        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/amap_appkey" />
        <service android:name="com.amap.api.location.APSService" />
        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_appkey" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey" />

        <!-- 添加渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Develop_Test" />

    </application>

</manifest>